<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <form id="new-comment-form" class="commentSec">
    <div class="card-header">
      <h3>Add new comment</h3>
    </div>
    <div>
      <input type="hidden" name="post-id" value="{{post.id}}" />
      <label class="form-label" for="comment-body">Comment</label>
      <textarea class="form-input" name="comment-body"> </textarea>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
  </form>
  {{#if post.Comments}}
  <section class="card">
    <div class="card-header">
      <h3>Comments</h3>
    </div>
    <div class="card-body">
      {{#each post.Comments}}
      <p>{{body}}</p>
      <p>{{User.username}}
        , {{format_date createdAt}}
      </p>
      {{/each}}
    </div>
  </section>
{{/if}}

</div>
<script src="/js/comment.js"></script>